In [37]:
id1 = 314832502
id2 = 207498510

In [38]:
#df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [39]:
df = pd.DataFrame([id1,id2])

In [40]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

Shai Miles and Sharon Litvak

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [41]:
import pandas as pd
import numpy as np

In [42]:
covid_data="https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
r_cd=pd.read_csv(covid_data)

In [43]:
coun_data = r_cd.loc[(r_cd.location=="Scotland")|(r_cd.location=="Serbia")]

In [44]:
coun_data

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
69291,Scotland,OWID_SCT,2021-01-10,166135.0,163377.0,2758.0,NaN,NaN,NaN,3.04,2.99,0.05,NaN,NaN,NaN,NaN
69292,Scotland,OWID_SCT,2021-01-11,178799.0,175942.0,2857.0,NaN,12664.0,12664.0,3.27,3.22,0.05,NaN,2317.0,12565.0,0.230
69293,Scotland,OWID_SCT,2021-01-12,194955.0,191965.0,2990.0,NaN,16156.0,14410.0,3.57,3.51,0.05,NaN,2636.0,14294.0,0.262
69294,Scotland,OWID_SCT,2021-01-13,211397.0,208207.0,3190.0,NaN,16442.0,15087.0,3.87,3.81,0.06,NaN,2760.0,14943.0,0.273
69295,Scotland,OWID_SCT,2021-01-14,228171.0,224840.0,3331.0,NaN,16774.0,15509.0,4.17,4.11,0.06,NaN,2837.0,15366.0,0.281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70524,Serbia,SRB,2022-03-06,8480196.0,3344962.0,3265654.0,1869580.0,NaN,1327.0,123.41,48.68,47.52,27.21,193.0,169.0,0.002
70525,Serbia,SRB,2022-03-07,NaN,NaN,NaN,NaN,NaN,1276.0,NaN,NaN,NaN,NaN,186.0,165.0,0.002
70526,Serbia,SRB,2022-03-08,NaN,NaN,NaN,NaN,NaN,1186.0,NaN,NaN,NaN,NaN,173.0,161.0,0.002
70527,Serbia,SRB,2022-03-09,8483405.0,3345446.0,3266511.0,1871448.0,NaN,1163.0,123.46,48.69,47.54,27.23,169.0,161.0,0.002
70528,Serbia,SRB,2022-03-10,8488708.0,3345631.0,3266852.0,1872225.0,5303.0,1744.0,123.53,48.69,47.54,27.25,254.0,164.0,0.002

# Q2

In [45]:
coun_data.iloc[[-3,-2,-1],[0,1,12]]

      location iso_code  total_boosters_per_hundred
70526   Serbia      SRB                         NaN
70527   Serbia      SRB                       27.23
70528   Serbia      SRB                       27.25

# Q3

In [46]:
max_data=coun_data["daily_vaccinations_per_million"].max()
coun_data.loc[coun_data.daily_vaccinations_per_million==max_data]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
69637,Scotland,OWID_SCT,2021-12-22,11162841.0,4377002.0,4003377.0,2782462.0,78321.0,71226.0,204.22,80.08,73.24,50.9,13031.0,1509.0,0.028

# Q4

In [47]:
s1=r_cd.loc[(r_cd.location=="Scotland")]
s1.people_fully_vaccinated_per_hundred.mean()

48.08354460093898

In [48]:
s1.people_fully_vaccinated_per_hundred.median()

61.92

In [49]:
s2=r_cd.loc[(r_cd.location=="Serbia")]
s2.people_fully_vaccinated_per_hundred.mean()

32.538235294117655

In [50]:
s2.people_fully_vaccinated_per_hundred.median()

39.80500000000001

החציון יותר גדול מהממוצע בכל מדינה שבחרנו בגלל שבתאריכים מסויימים מעט מאוד אנשים התחסנו ולכן כשנחשבים בממוצע מ"מורידים אותו" והחציון משקף בדיוק את האמצע בין תחילת ההתחסנות לסופה,בה כנראה התחילו להתחסן יותר ויותר אנשים פר תקופה

# Q5

In [52]:
s1mean=s1.people_fully_vaccinated_per_hundred.mean()
s2mean=s2.people_fully_vaccinated_per_hundred.mean()

In [53]:
(s1mean+s2mean)/2

40.31088994752832

---
# GOOD LUCK !!!!
---

In [54]:
# do not type below this line